.nameCard { 
    border: 2px grey solid ;
    width: 400px;
    text-align: center;
    font-family: impact;
    margin-top: 300px;
    margin-left: 500px;
    border-radius: 10px/50px/30px;
    background: rgba(211, 211, 211, 0.4);
  font-family: Garamond;   
}

.currentCardProd{
  width: 75%;
  margin-left: 100px;
  margin-top: 100px;
  box-shadow: 3px 5px 8px #212121;
  background: rgba(211, 211, 211, 0.6);
}

.cardContent{
  padding: 10px;
  border-bottom: 1px solid black;
}

.pastCardProj{
  width: 50%;
  float: right;
  margin-top: 100px;
  margin-right: 50px;
  box-shadow: 3px 5px 8px #212121
}

.gallCard{
  width: 50%;
  margin-left: 100px;
  margin-top: 50px;
  box-shadow: 3px 5px 8px #212121

}
.cardBorder{
  margin-top: 10px;
  border-top: 2px solid white;
}